<!--<div class="container">
  <table class="table table-fixed">
    <thead>
      <tr *ngFor="let data of gridConfig">
        <th class="col-md={{data.columns}}">{{data.fields}}</th>-->
        <!--<th class="col-md-3">Students</th>
        <th class="col-md-3">Pass</th>
        <th class="col-md-3">Fail</th>-->
      <!--</tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of classData | keys; let i = index" (click)="showStudentsData(data.key)">
        <td class="col-md-3">{{data.key}}</td>
        <td class="col-md-3">{{classData[data.key].length}}</td>  
        <td class="col-md-3">{{getPassCount(classData[data.key])}}</td>
        <td class="col-md-3">{{getFailCount(classData[data.key])}}</td>
      </tr>
    </tbody>
  </table>
</div>-->